*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background-color: rgb(31, 31, 70);
    
}

h1{
    color: white;
    margin: 2rem;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    width: 5rem;
    height: 5rem;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.fizz{
    width: 5rem;
    height: 5rem;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buzz{
    width: 5rem;
    height: 5rem;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fizzbuzz{
    width: 5rem;
    height: 5rem;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}